<main id="megalac-definition" aria-label="Contenido">
  <h1>¿Qué es Megalac?</h1>
  <p class="content-intro">
    El socio estratégico de las empresas colombianas del sector lácteo y ganadero.
  </p>
  <p class="content-body">
    Con nosotros, podrá mejorar sus ventas locales con <span class="text-highlight">importación</span> de productos de
    alta calidad internacional.
  </p>
  <p class="content-body">
    También realizamos la <span class="text-highlight">exportación</span> de sus productos para que pueda participar
    en el comercio internacional y aprovechar nuevos mercados.
  </p>
  <p class="content-ending">
    ¡Permítanos mejorar su productividad y aumentar sus utilidades!
  </p>
</main>

<section id="megalac-purpose" role="complementary">
  <h2>¿Qué hará Megalac para usted?</h2>
  <ul role="list">
    <li>Alianzas estratégicas con productores y proveedores de calidad internacional.</li>
    <li>Enfoque en mercados con TLC con Colombia.</li>
    <li>Traslados directos, consolidaciones de carga y reducción de inventarios.</li>
    <li>Negociación y reducción de costos en logística, intermediación, divisas, impuestos y otros.</li>
    <li>Un servicio con honestidad y respeto.</li>
  </ul>
</section>

<section id="megalac-team" role="complementary">
  <h2>Sobre nosotros</h2>
  <div class="teammate">
    <img src="assets/gilberto_nino.jpg" alt="Gilberto Niño"/>
    <div class="teammate-details">
      <h3>Gilbeto Niño</h3>
      <h4>Gerente General</h4>
      <p>
        Tengo más de 25 años de experiencia en gerencia tecnológica y 3 años de experiencia como gerente general y
        estratégico.
      </p>
      <p>
        Poseo muchos conocimientos en metodologías para gestión estratégica, gestión de proyectos y modelos de negocio.
      </p>
      <p>
        Vivo con mi esposa y mis tres hijos en Zipaquirá.
      </p>
    </div>
  </div>
</section>

<section id="megalac-quotes" role="complementary" aria-label="Citas de clientes">
  <blockquote>
    <q>
      Con nosotros, importará y exportará productos de alta calidad a un menor costo, todo a través de un servicio
      honesto y respetuoso.
    </q>
    <span class="quote-author">Megalac</span>
  </blockquote>
</section>
