<footer>
  <h2>Contáctenos y cotice con nosotros</h2>
  <div class="contact-data">
    {% for contact in site.contacts %}
    <ul>
      {% if contact.email %}
      <li><i class="fa fa-lg fa-envelope" aria-hidden="true"></i>
        <a href="mailto:{{ contact.email }}">
          {% assign split_email = contact.email | split : '@' %}
          {{ split_email | first }}<span class="email-at">@</span>{{ split_email | last }}
        </a>
      </li>
      {% endif %}
      {% if contact.cellphone %}
      <li><i class="fa fa-xl fa-mobile" aria-hidden="true"></i>
        <a href="tel:{{ contact.cellphone | replace : ')', '' | replace : '(', '' | replace : ' ', '' }}">
          {{ contact.cellphone }}
        </a></li>
      {% endif %}
      {% if contact.phone %}
      <li><i class="fa fa-lg fa-phone-square" aria-hidden="true"></i>
        <a href="tel:{{ contact.phone | replace : ')', '' | replace : '(', '' | replace : ' ', '' }}">
          {{ contact.phone }}
        </a></li>
      {% endif %}
      {% if contact.address %}
      <li><i class="fa fa-lg fa-building" aria-hidden="true"></i>
        {{ contact.address }}
      </li>
      {% endif %}
    </ul>
    {% endfor %}
  </div>
  <div class="contact-social-media">
    <ul>
      {% for network in site.social_networks %}
      <li><a href="{{ network.url }}">
        <i class="fa fa-4x fa-{{ network.fa_icon }}" title="{{ network.title }}"></i>
      </a></li>
      {% endfor %}
    </ul>
  </div>
</footer>
