<footer>
  <h2>Contáctenos y cotice con nosotros</h2>
  <div class="contact-data">
    <ul>
      {% if site.email %}
      <li><a href="mailto:{{ site.email }}">
        {{ site.email | split : '@' | first }}<span class="email-at">@</span>{{ site.email | split : '@' | last }}</a>
      </li>
      {% endif %}
      {% if site.cellphone %}
      <li>Celular: <a href="tel:{{ site.cellphone | replace : ')', '' | replace : '(', '' | replace : ' ', '' }}">
        {{ site.cellphone }}</a></li>
      {% endif %}
      {% if site.phone %}
      <li>Teléfono: <a href="tel:{{ site.phone | replace : ')', '' | replace : '(', '' | replace : ' ', '' }}">
        {{ site.phone }}</a></li>
      {% endif %}
      {% if site.address %}
      <li>{{ site.address }}</li>
      {% endif %}
    </ul>
  </div>
  <div class="contact-social-media">
    <ul>
      {% for network in site.social_networks %}
      <li><a href="{{ network.url }}">
        <i class="fa fa-3x fa-{{ network.fa_icon }}" title="{{ network.title }}"></i>
      </a></li>
      {% endfor %}
    </ul>
  </div>
</footer>
