<header role="banner">
  <div class="logo">
    <a href="{{ '/' | relative_url}}">
      <img src="{{ '/assets/logo.png' | relative_url }}" alt="Logo de {{ site.title | split : ' - ' | first }}"/>
    </a>
  </div>
  <div class="tag-line" aria-label="Eslogan">
    {{ site.title | split: ' - ' | last }}
  </div>
  <div class="secondary-description" aria-label="Pregunta">
    {{ site.description | split : '? ' | first }}?
  </div>
  <div class="main-description" aria-label="Descripción principal">
    {{ site.description | split : '? ' | last }}
  </div>
</header>
