<header role="banner">
  <div class="logo">
    <a href="{{ '/' | relative_url}}">
      <img src="{{ '/assets/logo.png' | relative_url }}" alt="Logo de {{ site.title | split : ' - ' | first }}"/>
    </a>
    <small class="tag-line" aria-label="Eslogan">{{ site.title | split: ' - ' | last }}</small>
  </div>
  <div class="description">
    <p class="secondary" aria-label="Pregunta">
      {{ site.description | split : '? ' | first }}?
    </p>
    <p class="main" aria-label="Descripción principal">
      {{ site.description | split : '? ' | last }}<br/><i><small>Pronto, más información.</small></i>
    </p>
  </div>
</header>
