@import "bourbon/bourbon", "neat/neat", "normalize/normalize", "variables", "fonts";

body {
  font-family: $base-font-family;
  font-size: $base-font-size;
  font-weight: $base-font-weight;
  color: $text-color;
  background-color: $background-color;
}

body, p {
  line-height: $base-line-height;
}

a {
  color: $brand-color;
  text-decoration: none;

  &:active, &:hover {
    text-decoration: underline;
  }
}

img {
  max-width: 100%;
  height: auto;
}

header {
  position: relative;
  overflow: hidden;
  background-color: $brand-color;

  &::before {
    content: '';
    display: block;
    position: absolute;
    z-index: 1;
    right: -40%;
    bottom: -40%;
    width: 130%;
    height: 110%;
    border-top-left-radius: 100%;
    border-color: transparentize(white, 0.95);
    border-style: solid;
    border-width: 190px 0;
    //background-color: transparentize(white, 0.9);
  }
}

div.logo {
  position: absolute;
  top: 0;
  left: 35%;
  width: 30%;
  margin-top: $spacing-small-unit;
  text-align: center;
}

small.tag-line {
  color: $grey-color-light;
}

.description {
  @include display(flex);
  @include flex-direction(column);
  @include justify-content(center);
  @include align-items(center);
  position: relative;
  z-index: 2;
  height: 100%;
  color: white;

  p {
    text-align: center;
    margin: 0;
  }

  p.main {
    width: 70%;
    font-family: $highlight-font-family;
    font-size: 3.3em;
    font-weight: bold;
    line-height: 1;
    color: $secondary-color;
  }

  p.secondary {
    margin-bottom: $spacing-small-unit;
    margin-top: 3 * $spacing-unit;
    width: 45%;
    font-size: 1.1em;
    color: $grey-color-light;
  }
}

footer {
  @include clearfix;
  padding: $spacing-unit;
  background-color: $secondary-color;

  h2 {
    margin: 0 0 $spacing-unit;
    font-family: $highlight-font-family;
    font-size: 2em;
    text-align: center;
  }

  div.contact-data, div.contact-social-media {
    float: left;
    width: 50%;
  }

  ul {
    margin: 0;
    list-style: none;
  }

  li + li {
    margin-top: $spacing-small-unit;
  }
}

#megalac-definition, #megalac-purpose, #megalac-team, #megalac-quotes {
  display: none;
}
