// Overrides
$fa-font-path: "fonts"

// Our variables
$base-font-family: "Museo Sans", Arial, sans-serif
$highlight-font-family: Aleo, "Helvetica Neue", Helvetica, "Museo Sans", Arial, sans-serif
$base-font-size: 1em
$base-font-weight: normal
$small-font-size: $base-font-size * 0.8
$title-font-size: $base-font-size * 2.2
$base-line-height: 1.25
$title-line-height: 1

$spacing-small-unit: 1.5rem
$spacing-unit: 4rem
$divider-height: 2px

$brand-color: #1B607E
$secondary-color: #F2B452
$support-colors-blue: #96D9ED
$support-colors-cyan: #1AABA1
$support-colors-yellow: #BEA430
$support-colors-red: #D34E36
$text-color: #24120C
$background-color: #FFF
$grey-color-light: #DFD9D0
$grey-color: #BFB9B0
$grey-color-dark: #9F9990

$size-s: 30rem
$size-m: 50rem
$size-l: 75rem
